<div class="row">
<div class="span6">
    <h3>About</h3>
    <p>Picsta is a result of trying to share pictures of our first child. I wanted to share pictures with our family and friends, but not everyone was on the same social network.</p>
    <p>The problem was more than just using the same social network. Some people have no desire to be on a social network. There are ongoing privacy and usage concerns for both the users and their content.</p>
    <p>I had issues with the traditional image sharing sites that hold your hi-resolution images hostage. Other sites charged based on the non-competitive storage rates. I decided to make a sharing and storage site that I would like to use.</p>
</div>

</div>
