<div class="row">
<div class="span6">
    <h3>About</h3>
    <p>Shoebox came about when we had our first child. I wanted to share pictures with our family and friends, but not everyone was on the same social network.</p>
    <p>The problem was more than just using the same social network. Some people have no desire to be on a social network. There are ongoing privacy and usage concerns for both the users and their content.</p>
    <p>I had issues with the traditional image sharing sites that hold your hi-resolution images hostage.</p>
</div>
<div class="span4">
    <%= image_tag  "logo_footer.png" %>
</div>
</div>
