<div class="row" xmlns="http://www.w3.org/1999/html">
<div class="span6">
    <h3>About</h3>
  <p>I wanted a simple way to share pictures of our newborn while not leaving out my parents who both have no desire to maintain Facebook accounts. I spent the first couple weeks posting pictures to Facebook, sharing with Google+, and emailing them to individuals. It was a miserable experience trying to sync all of these networks. Eventually I chose to start Picsta to address my needs.</p>

  <p>Here is what I wanted:</p>
  <ul>
       <li>Privacy it shouldn't be open to the general public</li>
       <li>Add pictures from my phone or computer</li>
       <li>Access pictures from anywhere</li>
       <li>Can invite family members</li>
       <li>Can access the original size image</li>
  </ul>
  <p>That's the basic requirements. I accept that the privacy isn't perfect, meaning I can't control if an image is copied by a user. That's understood. Also, I accept there is some cost associated with this when I become the customer and not the product. In a traditional social network I'm the product. I'm there to look at adds, generate data, whatever it is in the business model. If I'm not paying for something, then I'm not the customer. As a result, I can accept that I will have to pay for hosting, processing, bandwidth, maintenance, and storage. Those costs would typically be covered by advertising costs. Not so in Picsta. To cover these costs I can spread it across more users. By opening up Picsta to other subscribers and charging a nominal monthly fee we can cover expenses and make it a sustainable business.</p>
  <p>If you're looking at this site and thinking I'm nuts to charge for storing pictures when there are so many free options, then it's obviously not for you. I understand. There are lots of alternatives out there that hopefully fit your needs.</p>
</div>

</div>
