<div class="row" >
<div class="span6">
    <h2>About</h2>
  <p>I wanted a simple way to share pictures of our newborn while not leaving out my parents who both have no desire to maintain Facebook accounts. I spent the first couple weeks posting pictures to Facebook, sharing with Google+, and emailing them to individuals. It was a miserable experience trying to sync all of these networks. Eventually I chose to start Picsta to address my needs.</p>
</div>
<div class="span4">
  <%= image_tag 'polaroid.png' %>
</div>
</div>
