<div class="span8 offset2">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="http://picsta.us5.list-manage1.com/subscribe/post?u=e6f64fe4e902c4b1f4bbfee7b&amp;id=595bb19bd7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h2>Join Us</h2>
            <p class="lead">Register for our mailing list. We'll keep you posted on Picsta activities. Subscribers get a head start when adding beta users. No spam, promise.</p>

            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk"></span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
                <label for="mce-UNAME">Your name </label>
                <input type="text" value="" name="UNAME" class="required" id="mce-UNAME">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-primary"></div>
        </form>
    </div>

    <!--End mc_embed_signup-->
</div>
