<div class="row">
  <div class="span6">
    <h3>Privacy Policy</h3>
    <p>This website, shoebox.luckyfishlab.com, does not share personal information with third parties nor do we store any information about your visit to this website other than to analyze and optimize your content and experience through the use of cookies.</p>

    <p>You can turn off the use of cookies at anytime by changing your specific browser settings.</p>
    <p>We are not responsible for republished content from this website on other websites without our permission.</p>

    <p>This privacy policy is subject to change without notice and was last updated on February 8th, 2013. If you have any questions feel free to contact me directly here: dana[at]luckyfishlab[dot]com.</p>
    </div>
  <div class="span4">
      <%= image_tag  "logo_footer.png" %>
  </div>
</div>
