<div class="row">
<div class="span6">
    <h3>Thanks!</h3>
    <p>Thank you for signing up at Picsta. Please enroll in a subscription plan to get started.</p>
  <%= button_to 'Subscribe', '#', :class=>"btn btn-large btn-primary" %>
</div>

</div>
