<div class="row">
<div class="span6">
    <h3>Thanks!</h3>
    <p>Thank you for signing up at Picsta. Please enroll in a subscription plan to get started.</p>
    <button href="#">Subscribe</button>
</div>

</div>
