<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<% @albums.each do |album| %>

   <div class="box">
      <% image = album.images.first %>
      <% unless image.nil? %>
          <%= link_to image_tag( image.pic_url(:thumb), :alt =>  image.title.to_s), album, :class=>"centered" %>
      <% end %>
      <p><%= link_to album.title, album %> shared by <%= album.user.name %></p>
      <p><%= album.images.count %> image(s)</p>

    </div>

<% end %>
</div>




