// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  width: 220px;
   margin: 10px;
   float: left;
}

#masonry-container {
  /*background: #FFF; */
  background: url(/assets/cream_dust.png) repeat 0 0;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.albums.show, .albums.index {
  .container-narrow {
    max-width: 90%;
  }
}