html, body {
  width:100%;
  overflow-x:hidden;
}
body {

  padding:  0; /* this cuts the unused space along with the width:100%; overflow:hidden */

  background: #eee;
  background: url(./texture-1.png) repeat 0 0, #eee;
}

#navigation {
  padding-right: 0;
  padding-left: 0;
  background-color: #fff;
}
/* Downsize the brand/project name a bit */
.navbar .brand {
  font-family: 'Lobster', Georgia, Times, serif;
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);

  &:hover {
  background-color: transparent;
  color: #333333;
  text-decoration: none;
  }


}
.content {
  background-color: #eee;
  padding: 0;
  margin: 0;
  color: #000000;

  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
}

h3, h4, h5, h6 {
  font-family: 'Lobster', Georgia, Times, serif;
}
h2 {     font-family: 'Cabin', Helvetica, Arial, sans-serif;}
p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
}


h1 {
    text-shadow: 1px 1px 1px #000;
}

  .jumbotron-content {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  }
  .jumbotron-container {
    position: relative;
    padding: 40px 0;


   background: #49a5bf; /* Old browsers */
   background: -moz-linear-gradient(left,  #49a5bf 0%, #75bdd1 59%, #93cede 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,#49a5bf), color-stop(59%,#75bdd1), color-stop(100%,#93cede)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left,  #49a5bf 0%,#75bdd1 59%,#93cede 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left,  #49a5bf 0%,#75bdd1 59%,#93cede 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left,  #49a5bf 0%,#75bdd1 59%,#93cede 100%); /* IE10+ */
   background: linear-gradient(to right,  #49a5bf 0%,#75bdd1 59%,#93cede 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#93cede',GradientType=1 ); /* IE6-9 */

    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
       -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
            box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  }

/*#jumbotron .content {
  text-shadow: none;
}
  */
#marketing-body {

}
.container-narrow {
margin: 0 auto;
max-width: 700px;
}

.container-large {
  margin: 10 auto;
  background-color: #eee;
}

.content p {
  color: #0e0e0e;
}

.content, .actions a {
  color: #0e0e0e;
  &:visited {
    color: #0e0e0e;

  }
  &:hover {
    color: #5a5a5a;
  }
}

#myfooter {
  color: #5a5a5a;
}

/* Button text gets rendered like the links */
.jumbotron-container a.btn {
  color: #eee;
  &:visited {
    color: #eee;

  }
  &:hover {
    color: #eee;
  }
}
