<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<p>Name: <%= @message.name %></p>

<p>Email: <%= @message.email %></p>

<p>Subject: <%= @message.subject %></p>

<p>Body:<br/>
<%= @message.body %></p>


</body>
</html>