<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>New pictures were added</h2>
<p>
  You can find them here:
    <% @updated_albums.each do |album_h| %>
      <%= link_to album_h[:title], album_url(album_h[:album_id]) %><br/>
    <% end %>
</p>
<p>
  Please login and enjoy!
</p>
<p>Regards,<br/>
Dana<br/> </p>
<b>Picsta</b><br/><em>Share with your family and friends.</em>
</body>
</html>