<div class="content-wrapper" id="footer">
<div class="container">

<div class="footer">
 <p>Handcrafted in Mobile Alabama &copy; 2013 Dana Spisak · All Rights Reserved · <%= link_to 'Privacy Policy', privacy_policy_path %> · <%= link_to 'About Picsta', about_path %> </p>
</div>
</div>
</div>